<form method="post" action="/subscribe/" class="">
    <input class="confirm" type="hidden" name="confirm"  /><input class="location" type="hidden" name="location"  /><input class="referrer" type="hidden" name="referrer"  />

		<h3 class="subscribe-form-title">Subscribe </h3>
                <p>You’re reading aSaaSinator's blog, stuffed with growth hacking strategies that I had experimented in my limited years of experience. 

                    <br> If you want to know when I publish something new, I recommend getting an RSS reader like <a href="https://newsblur.com/">NewsBlur</a> and subscribing to my RSS feed.

                    <br> High privacy and no spamming. :)
		</p>

</form>
